:root{
    --default-font:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --background-back:rgb(26, 17, 17);
    --background-front:#38363d ;
}

body{
    margin: 0;
    padding: 0;
    background-color: var(--background-back);
    color: white;
}

/* Upper panel */
#upper_pannel{
    display: flex;
    justify-content: center;
    margin-top: 5vh;
    margin-bottom: 5vh;
}

#main_form{
    display: flex;
    justify-content: space-between;
}

#input{
    margin-right: 7px;
    color: rgb(20, 18, 18);
    font-size: large;
}

#submit_button{
    border:none;
    border-radius: 5px;

    background-color: rgb(14, 222, 87);
    color:white;

    font-family: var(--default-font);
    font-size: medium;

    transition: all 100ms;
}

#submit_button:hover, #submit_button:active{
    background-color: rgb(12, 170, 67);
}

/* Content */
#content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#task_container{
    display: flex;
    flex-direction: column;
}

#task{
    border: solid 1px rgb(51, 51, 51);
    margin-bottom: 18px;
    background-color: #232323;
    border-radius: 5px;
    padding: 3px 5px 3px 5px;
}

#task_value{
    border: none;
    background-color: transparent;
    color: white;

    font-family: var(--default-font);
    font-size: small;
}

#delete_button{
    border: none;

    background-color: transparent;
    color: rgb(207, 10, 10);

    font-size: small;
    text-decoration: underline;

    transition: all 0.4s;
}

#delete_button:hover , #delete_button:active{
    background-color: rgb(207, 10, 10);
    color:white;

    text-decoration: none;
    border-radius: 2px;
}